<!DOCTYPE html>
<html lang="zh-CN"
      class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" async="" src="../images/res/za-0.1.1.min.js"></script>
    <script async="" src="../images/res/ga.js"></script>
    <title>${name}的<#if type=0>关注
        <#else>粉丝
    </#if>列表
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../styles/result.css"/>
    <script src="../images/res/instant.e7a17de6.js"></script>
    <style type="text/css">._colors_text-muted_5fu- {
        color: #999
    }</style>
    <style type="text/css">._Pager_root_2GoR {
        font-size: 1.1em;
        text-align: center;
        line-height: 3
    }

    ._Pager_item_3xy4 {
        padding: .5em;
        -webkit-transition: color .5s ease;
        transition: color .5s ease
    }</style>

    <#include "header.html" />
<div id="main">
    <div class="zg-wrap zu-main clearfix ">
        <div class="zm-profile-section-wrap zm-profile-followee-page">
            <div class="zm-profile-section-head">
                    <span class="zm-profile-section-name">
                        <a href="/user/${userid}">${name}</a>
                        <#if type=0>关注
                        <#else>粉丝有
                    </#if>
                        ${FolloweeCount} 人
                    </span>

            </div>
            <div class="zm-profile-section-list">
                <div id="zh-profile-follows-list">
                    <div class="zh-general-list clearfix">
                        <#list vos as vo>
                        <div class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">
                            <div class="zg-right">
                                <#if vo.followed>
                                <button class="zg-btn zg-btn-unfollow zm-rich-follow-btn small nth-0 js-follow-user" data-id="${vo.user.id}" data-status="1">取消关注</button>
                                <#else>
                                <button class="zg-btn zg-btn-follow zm-rich-follow-btn small nth-0 js-follow-user" data-id="${vo.user.id}" data-status="0">关注他</button>
                            </#if>
                            </div>
                            <a title="Barty" class="zm-item-link-avatar" href="/user/${vo.user.id}">
                                <img src="${vo.user.getHeadUrl()}"
                                     class="zm-item-img-avatar">
                            </a>
                            <div class="zm-list-content-medium">
                                <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty"
                                                                     href="/user/${vo.user.id}"
                                                                     class="zg-link" title="Barty">${vo.user.name}</a></h2>

                                <div class="zg-big-gray"></div>
                                <div class="details zg-gray">
                                    <a target="_blank" href="/followee/${vo.user.id}" class="zg-link-gray-normal">${vo.followee}
                                        关注</a>
                                    /
                                    <a target="_blank" href="/follower/${vo.user.id}" class="zg-link-gray-normal">${vo.fans}
                                        粉丝</a>
                                    /
                                    <a target="_blank" href="/user/${vo.user.id}" class="zg-link-gray-normal">${vo.comment}
                                        回答</a>
                                    /
                                    <a target="_blank" href="/user/${vo.user.id}" class="zg-link-gray-normal">${vo.ask} 提问</a>
                                </div>
                            </div>
                        </div>
                    </#list>
                    </div>
                    <a aria-role="button" class="zg-btn-white zu-button-more">更多</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/main/jquery.js"></script>
<script type="text/javascript" src="/scripts/main/base/base.js"></script>
<script type="text/javascript" src="/scripts/main/base/util.js"></script>
<script type="text/javascript" src="/scripts/main/base/event.js"></script>
<script type="text/javascript" src="/scripts/main/util/action.js"></script>
<script type="text/javascript" src="/scripts/main/util/business.js"></script>
<script type="text/javascript" src="/scripts/main/component/component.js"></script>
<script type="text/javascript" src="/scripts/main/component/popup.js"></script>
<script type="text/javascript" src="/scripts/main/component/popupAdd.js"></script>
<script type="text/javascript" src="/scripts/main/component/popupMsg.js"></script>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
<script type="text/javascript" src="/scripts/main/site/follow.js"></script>
</body>
</html>