<!DOCTYPE html>
<html lang="zh-CN" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>${me.name} 的私信</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/font-awesome.min.css">

    <link rel="stylesheet" media="all" href="../styles/letter.css">

    <script src="../scripts/hm.js"></script>
    <script src="../scripts/detail.js"></script>

    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.qrcode.min.js"></script>
<#include "header.html" />
    <div class="zu-global-notify" id="zh-global-message" style="display:none">
        <div class="zg-wrap">
            <div class="zu-global-nitify-inner">
            <a class="zu-global-notify-close" href="javascript:;" title="关闭" name="close">x</a>
            <span class="zu-global-notify-icon"></span>
            <span class="zu-global-notify-msg"></span>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                <#list vos as vo>
                <li id="conversation-item-10005_622873">

                    <div class="letter-info">
                        <span class="l-time">${vo.msg.createddate?string("yyyy年MM月dd日 HH:mm:ss")}</span>
                        <div class="l-operate-bar">
                            <a href="/msg/conversation?conversation=${vo.msg.conversationid}">
                                共${vo.readcount}条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <#if vo.unreadcount=0>

                        <#else>
                        <span class="msg-num">
                            ${vo.unreadcount}
                        </span>
                        </#if>
                        <a class="list-head" href="/user/${vo.another.id}">
                            <img alt="头像" src="${vo.another.getHeadUrl()}">
                        </a>

                    </div>
                    <div class="letter-detail">
                        <a title="${vo.another.name}" href="/msg/conversation?conversation=${vo.msg.conversationid}" class="letter-name level-color-1" style="color:dimgray;">
                            <b>${vo.another.name}</b>
                        </a>
                        <p class="letter-brief">

                                ${vo.msg.content}

                        </p>
                    </div>
                </li>
            </#list>
                </ul>

        </div>
        <script type="text/javascript">
          $(function(){

            // If really is weixin
            $(document).on('WeixinJSBridgeReady', function() {

              $('.weixin-qrcode-dropdown').show();

              var options = {
                "img_url": "",
                "link": "http://nowcoder.com/j/wt2rwy",
                "desc": "",
                "title": "读《Web 全栈工程师的自我修养》"
              };

              WeixinJSBridge.on('menu:share:appmessage', function (argv){
                WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              WeixinJSBridge.on('menu:share:timeline', function (argv) {
                WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              // $(window).on('touchmove scroll', function() {
              //   if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
              //     $('div.backdrop').show();
              //     $('div.share-help').show();
              //   } else {
              //     $('div.backdrop').hide();
              //     $('div.share-help').hide();
              //   }
              // });

            });

          })
        </script>
    </div>
    <div id="zh-footer" class="zh-footer">
</div>

  <div id="quick-download">
    <button type="button" class="close-link btn-link" data-toggle="modal" data-target="#quick-download-app-modal"><i class="fa fa-times-circle"></i></button>

    <a class="download-link" href="http://nowcoder.com/download">
      <h3>牛客网</h3>
      <h4>程序员的首选学习分享平台</h4>
      <button type="button" class="btn btn-info btn-sm">下载 APP</button>
    </a>

    <div class="modal fade" id="quick-download-app-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">提示</div>
          <div class="modal-body">
            <div class="checkbox">
              <label class="i-checks">
                <input id="already-installed" type="checkbox"><i></i> 我已安装了牛客网App，不再显示
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-block btn-default" id="close-quick-download-app-modal">关 闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>
        <script type="text/javascript" src="/scripts/main/jquery.js"></script>
        <script type="text/javascript" src="/scripts/main/base/base.js"></script>
        <script type="text/javascript" src="/scripts/main/base/util.js"></script>
        <script type="text/javascript" src="/scripts/main/base/event.js"></script>
        <script type="text/javascript" src="/scripts/main/component/component.js"></script>
        <script type="text/javascript" src="/scripts/main/component/popup.js"></script>
        <script type="text/javascript" src="/scripts/main/component/popupAdd.js"></script>
        <script type="text/javascript" src="/scripts/main/component/popupMsg.js"></script>
        <script type="text/javascript" src="/scripts/main/site/home.js"></script>


</body></html>